body {

  font-family: Helvetica Neue;
  margin: 0;



}

h1 {
font-family: 'Righteous', cursive;
}

p {
font-family: sans-serif;
}

a {
  color: black;
text-decoration: none;

font-weight: bold;
font-family: sans-serif;
padding-left: 20px;
font-size: 20px;
}

a:hover {
color: white;
}

.logo {

position: absolute;
left: 20px;
top: 30px;

}

.top-triangle {

  position: absolute;

}

.top-nav {
position: absolute;
right: 100px;
margin-top: 50px;
}




.photo {
  border: 20px solid #707070;
  position: absolute;
  left: 1400px;
  top: 200px;
  width: 500px;



}



.main-title {

padding-left: 200px;
padding-top: 400px;


}

.main-title h1 {
  margin: 0;
font-size: 100px;

}



.main-title {
  margin:0;
font-size: 30px;
letter-spacing: 20px;


}

.quote {

margin-top: 120px;
letter-spacing: normal;
opacity: 30%;

}

.bottom-triangle {

  position: absolute;
  right:1px;
  bottom: 150px;

}


.upper-container {
height: 1080px;
background: linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(235,235,235,1) 100%);
}

.mid-header {
text-align: center;
margin-top: 30px;
}
.middle-container {

background-color: white;
margin: 100px 0;
text-align: center;
font-weight: lighter;


}

.skills-container {

  text-align: center;
  background-color: #e3e3e3




}

.skills-container h2 {
padding-top: 30px;
padding-bottom: 50px;


}

.my-work {
margin-top: 50px;

}



.skills-row {

padding: 20px 0;

}


.hire-container {

  margin: 100px auto;
  text-align: center;
  font-size: 20px;
  padding: 0 200px;


}


.hire-button {

width: 20%;
letter-spacing: 10px;

}

.main-footer {

  background-color: #e3e3e3;
  text-align: center;
}

.socail-icons {

margin: 100px 30px 20px;

}

.main-footer p {

padding-bottom: 100px;
letter-spacing: 7px;
}
